@charset "utf-8";
@import "reset";

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

header {
  text-align: center;
  padding-top: 40px;
  color: #FFF;
}

.modal {
  background-color: #FEFEFE;
  width: 60vw;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  h2 {
    border-bottom: 1px solid #CFD8DC;
    padding: 15px;
  }
  .modal-body {
    padding: 20px 15px;
    .input {
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 10px;
      }
    }
    button {
      float: right;
      font-size: 1.1rem;
      padding: 10px 15px;
      margin-top: 10px;
    }
  }
}

main {
  width: 78vw;
  height: 80vh;
  margin: auto;
  background-color: #FEFEFE;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  .list {
    width: 18%;
    background-color: #465775;
    color: #FFF;
    .list-bots {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  .chat {
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      background-color: #FFF;
    }
    .chat-list {
      padding: 15px;
      font-size: .8rem;
      height: 100%;
      overflow: hidden;
      overflow-y: scroll;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: #90A4AE #CFD8DC;
      padding-right: 10px;
      &::-webkit-scrollbar-track {
        border-radius: 15px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #CFD8DC;
      }
      &::-webkit-scrollbar {
        width: 8px;
      }
      li {
        margin-bottom: 20px;
        color: #ffffff;
      }
      .chat-img {
        float: left;
        width: 48px;
        img {
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          width: 100%;
        }
      }
      .chat-message {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background: #28AFB0;
        display: inline-block;
        padding: 10px 20px;
        position: relative;
        h5 {
          margin: 0 0 5px 0;
          font-weight: 600;
          line-height: 100%;
          font-size: .9rem;
        }
        p {
          line-height: 18px;
          margin: 0;
          padding: 0;
        }
        &:before {
          content: "";
          position: absolute;
          top: 15px;
          width: 0;
          height: 0;
        }
      }
      .chat-body {
        margin-left: 20px;
        float: left;
        width: 70%;
        margin-bottom: 10px;
        & > p {
          color: #C0C0C0;
          font-size: .8rem;
          margin-top: 8px;
        }
      }
      .in {
        display: inline-block;
        .chat-message:before {
          left: -12px;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #28AFB0;
        }
      }
      .out {
        .chat-body {
          float: right;
          text-align: right;
          margin-right: 10px;
        }
        .chat-message {
          background: #833ab4;
          &:before {
            right: -12px;
            border-bottom: 20px solid transparent;
            border-left: 20px solid #833ab4;
          }
        }
      }
      .in, .out {
        width: 100%;
      }
    }
    .chat-bottom {
      margin-top: 5px;
      .user-list {
        display: flex;
        gap: 5px;
        padding: 0 10px;
        li {
          font-size: 0.8rem;
          padding: 5px 10px;
          border: 1px solid #DCDCDC;
          color: #DCDCDC;
          border-radius: 50px;
          transition: all 0.1s ease-in;
        }
        .writing {
          border: 1px solid #fcb045;
          background-color: rgba(252, 176, 69, 0.5);
          color: #000;
        }
      }
      #msg-form {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 5px 10px 10px 10px;
      }
    }
  }
}


// GLOBAL ELEMENTS
h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
}

.avatar {
  position: relative;
  width: 45px;
  height: 45px;
  font-size: 1.2rem;
  overflow: hidden;
  background-color: #0A0A0A;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50%;
  .avatar-picture {
    width: auto !important;
    text-align: center;
    height: 100%;
  }
  .avatar-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.10);
  -moz-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.10);
  p {
    font-size: 0.9rem;
    color: #FFF;
    background-color: #22bb33;
    padding: 5px 10px;
    border-radius: 50px;
    span {
      font-weight: bold;
    }
  }
}

input {
  flex-grow: 9;
  padding: 10px 15px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
}

button {
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  border: 1px solid #833ab4;
  background-color: #833ab4;
  color: #FFF;
  transition: all .2s ease-in;
  &:hover {
    color: #000;
    border: 1px solid #DCDCDC;
    background-color: rgb(239, 239, 239);
  }
}

.hidden {
  display: none;
}

.alert {
  padding: 15px 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(34, 187, 51, .7);
  border-color: 1px solid #22bb33;
  border-radius: 6px;
  color: #FFF;
}

@media (max-width: 1180px) {
  .list {
    display: none;
  }
  .chat {
    width: 100% !important;
  }
}

@media (max-width: 600px) {
  header {
    display: none;
  }
  main {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .modal {
    width: 90%;
    border-radius: 0;
    text-align: center;
    form button {
      float: none !important;
    }
  }
}
